- if show_contact_sales_button?(purchase_link.action, plan_offer_type)
  .js-hand-raise-lead-button{ data: hand_raise_props(namespace) }
- if show_upgrade_button
  = link_to upgrade_button_text(plan_offer_type),
    plan_purchase_or_upgrade_url(namespace, plan),
    class: ["btn btn-confirm gl-button", upgrade_button_css_classes(namespace, plan, is_current), "gl-ml-3"],
    data: billing_upgrade_button_data(plan)
